.buscaminas {
  width: 450px;
  height: 600px;
  justify-content: center;
  text-align: center;
}

.titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 448px;
  height: 80px;
  background-color: black;
  border: 1px solid rgb(104, 212, 226);
  border-radius: 10px;
}
h1{
  color: white;
}
.sep {
  width: 450px;
  height: 15px;
}
.board-head {
  display: flex;
  flex-direction: row;
  height: 55px;
  justify-content: space-between;
  align-items: center;
  border-left: 1px solid #444;
  border-right: 1px solid #444; 
  background-color: black;
}
.board-head .reset, .board-head .Banderas, .board-head .timer {
  width: 140px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eeeeee; 
}
.board-head .reset {
  font-size: 20px; 
  background-color: rgb(255, 255, 255);
  color: black;
}

.board {
  width: 449px;
  height: 449px;
  border: 1.5px solid #444;
  border-bottom: none;
  border-radius: 5px ;
  background-color: rgb(242, 213, 253);
}
.board .fila {
  display: flex;
  height: 50px; 
}
  
.board .fila:last-child {
  border-bottom: none;
  height: 50px; 
}

.board .fila .celda {
  border-right: 1px solid #444;
  width: 49px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(68, 68, 68); 
}
  
.board .fila .celda.abierta {
  background-color:rgb(229, 157, 255); 
}

.board .fila .celda.abierta:hover {
  background-color: #cc00ff; 
}

.board .fila .celda:hover {
  background-color: rgb(131, 203, 245); 
}

.board .fila .celda:last-child {
  border-right: none; 
}

* {
  margin: 0;
  padding: 0; 
  font-family: Helvetica, sans-serif;
}

html, body {
  height: 100%; 
}
html #root, body #root {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; 
}

html #root .minesweeper, body #root .minesweeper {
  display: flex;
  flex-direction: column;
  height: 592px; 
}

html #root .minesweeper h1, body #root .minesweeper h1 {
  text-align: center;
  border-left: 1px solid #444;
  border-top: 1px solid #444;
  border-right: 1px solid #444; 
}
